footer {
  background-color: var(--secondry-color);
}
footer a {
  text-decoration: none;
  color: var(--white);
}
footer a:hover {
    color: var(--primary-color);
  }

footer h6{
    color: var(--primary-color);
}
.Copyright p{
  background-color: #4E6C50;
  color: var(--white) !important;
}
footer .dropdown-toggle,footer .dropdown-toggle:hover,footer .dropdown-toggle:focus{
  color: var(--white) !important; 
}

