.timeline{
    border-left: 3px solid var(--primary-color);
    padding: 20px;
    list-style: none;
    text-align: start;
    max-width: 90%;
    /* margin-left: 4rem; */
    position: relative;

  }
  

  
  .timeline .event {
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
  }
  

  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .event:before {
    left: -90px;
    content: attr(data-date);
    color: var(--primary-color);
    text-align: start;
    /* min-width: 100px; */
  }
  
 
  
  .timeline .event:after {
    box-shadow: 0 0 0 3px var(--primary-color);
    left: -25.8px;
    background:var(--bg-color);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 8px;
  }

  .right-timeline{
    border-right: 3px solid var(--primary-color);
    padding: 20px;
    list-style: none;
    text-align: start;
    max-width: 90%;
    /* margin-left: 4rem; */
    position: relative;

  }
  

  
  .right-timeline .event {
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
  }
  

  .right-timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .right-timeline .event:before,
  .right-timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .right-timeline .event:before {
    right: -90px;
    content: attr(data-date);
    color: var(--primary-color);
    text-align: start;
    /* min-width: 100px; */
  }
  
 
  
  .right-timeline .event:after {
    box-shadow: 0 0 0 3px var(--primary-color);
    right: -25.8px;
    background:var(--bg-color);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 8px;
  }
  




  
  @media (max-width: 767px) {
    .timeline,.right-timeline {
      max-width: 98%;
      padding: 25px;
    margin: 0;
    }
    .timeline .event,.right-timeline .event {
      padding-bottom: 5px;
      margin: 0;
        padding-top: 30px;
      }
      .timeline .event:before {
        left: 0px;
      }
      .right-timeline .event:before {
        right:  0px;
      }
     
      .timeline .event:after {
        left: -31.8px;
      }
      .right-timeline .event:after {
        right:  -31.8px;
      }
  }