.backToTop {
    bottom: 20px;
    right: 20px;
    position: fixed;
    color: #ffffff !important;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    background: var(--secondry-color);
  }
  .backToTop i{
    color: #ffffff !important;
    display: inline-block;

  }
  .backToTop:hover {
    background: var(--primary-color);
  }