.top-nav{
  background-color: rgba(var(--secondry-color-rgb),25%);
}
.top-nav li{
  cursor: pointer;
}
.bg-modal{
  background-color: var(--bg-color);
}
.bord{
  border-left: 1px solid rgba(var(--secondry-color-rgb), 30%);
  height: 100%;
}

@media (max-width: 992px) {
  .bord {
      border: none;
      border-top: 1px solid rgba(var(--secondry-color-rgb), 30%);
  }
}

.header {
  background-color: var(--bg-color);
}
.toggle-btn{
outline: none !important;
/* color: blue !important; */
border: none !important;

}
.navbar-toggler:focus{
  box-shadow: none !important;
}
.nav-links a,nav a{
  color:var(--secondry-color);
  text-decoration: none;
}
nav a:hover{
  color:var(--secondry-color);
}
.nav-links a.active ,.nav-links a:hover {
  color: var(--primary-color);
  background-color: transparent;
}
.offcanvas{
  background-color: var(--bg-color) !important;
}
.dropdown-menu{
  background-color: var(--bg-color) !important;
}
.dropdown-menu .dropdown-item:focus ,.dropdown-menu .dropdown-item:hover ,.dropdown-menu a.active{
  color: var(--bg-color);
  background-color: var(--primary-color);
}
.dropdown-item{

  outline: none !important;
}

.dropdown-toggle{
  background-color: transparent !important;
  color:var(--secondry-color) !important;
  box-shadow: none !important;
}